@import "mixin";


.feedback {
  min-height: 672px;
  background-color: #f3f5f8;
  h2 {
    @include h2;
    padding-top: 65px;
    font-size: $font_size;
  }
}

.feedback-row {
  min-height: 350px;

}

.feedback-contact {
  margin-top: 85px;
}

.address,
.phone,
.email {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 345px;
  height: 150px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 0 #f0f2f4;
  margin-right: 1px;
  i {
    font-size: $font_size - 0.1;
  }
  h4 {
    font-family: $font_gotham;
    font-size: $font_size;
    color: #3dc9b3;
    letter-spacing: 2.1px;
  }
  p {
    font-family: $font_gotham;
    color: #8c9398;
    margin-top: 0;
  }
}

.social {
  display: flex;
  height: 41px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #242830;
  &:hover {
    background-color: #3dc9b3;
    cursor: pointer;
  }
}

.social-row {
  margin-top: 45px;
}

footer {
  height: 121px;
  background-color: #242830;
  span {
    color: #FFFFFF;
  }
  p {
    font-family: $font_book;
    color: #a1a9b0;
  }
}

.footer-row {
  height: 121px;
}