@import "mixin";


.team-passion {
  min-height: 200px;
  background-color: #242830;
  text-align: center;
}

.parent-row {
  min-height: inherit;
}

.team-passion-btn button {
  font-family: $font_gotham;
  width: 294px;
  height: 74px;
  border: 1px solid #ffffff;
  background-color: #242830;
  color: #FFFFFF;
  letter-spacing: 2.25px;
  font-weight: bold;
  &:hover {
    color: #3dc9b3;
    border-color: #3dc9b3;
    cursor: pointer;
    transition: 0.2s;
  }
}

.team-carousel {
  min-height: 877px;
  @include image-carousel;
  .block {
    margin: 0 !important;
  }
  h1 {
    @include h2;
    font-size: $font_size;
  }
  h2 {
    @include h2;
    font-size: $font_size - 0.09;
  }
  p {
    @include text_p;
    font-size: $font_size - 0.1;
    text-align: center;
    line-height: 20px;
    margin-top: 26px;
    display: inline-flex;
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 218px;
    margin: 0 auto;
  }
  .social {
    display: inline-flex;
    height: 41px;
    width: 40px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #242830;
    &:hover {
      background-color: #3dc9b3;
      cursor: pointer;
    }
  }
}

.social-block {
  display: inline-flex;
  min-width: 60%;
  justify-content: space-around;
  margin: 10% 20% 20%;
  i {
    margin: 0 auto;
    align-self: center;
    color: #FFFFFF;
  }
}

.team-content {
  padding-top: 67px;
  h3 {
    text-align: center;
    font-family: $font_gotham;
    font-size: $font_size;
    color: #353535;
    line-height: 20px;
    margin-top: 51px;
    margin-bottom: 26px;

  }
}

