@import "mixin";
@import "fonts";

.projects {
  background: url("../img/flowers.jpg") no-repeat;
  background-size: cover;
  min-height: 300px;
  .projects-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #3dc9b3;
    cursor: pointer;
    &:hover {
      background-color: lightseagreen;
      transition: 0.2s;
    }
    i {
      font-size: $font_size + 0.3;
      color: #ffffff;
    }
  }
}

.projects-btn-block {
  padding-bottom: 20px;
}

.projects-heading {
  text-align: center;
  @include text_large;
  h1 {
    color: #FFFFFF;
    letter-spacing: 10px;
    font-weight: normal;
    margin-top: 81px;
  }
  p {
    color: #FFFFFF;
    letter-spacing: 7.5px;
    font-weight: normal;
    margin-bottom: 43px;
    font-size: $font_size + 0.3;
    span {
      font-family: $font_medium;
    }
  }
}

.projects-carousel {
  min-height: 661px;
  @include image-carousel;
  .block {
    margin: 0 !important;
  }
  h2 {
    @include h2;
    font-size: $font_size - 0.09;
  }
  p {
    @include text_p;
    font-size: $font_size - 0.1;
    text-align: center;
    line-height: 20px;
    margin-top: 26px;
    display: inline-flex;
  }
  img {
    position: relative;
    z-index: 1;
  }
  img:hover {
    position: relative;
    z-index: 2;
    opacity: 0.7;
    cursor: pointer;
  }
}

.projects-content {
  padding-top: 104px;
  h3 {
    text-align: center;
    font-family: $font_gotham;
    font-size: $font_size;
    color: #353535;
    line-height: 20px;
    margin-top: 51px;
    margin-bottom: 26px;

  }
}

.subscribe {
  min-height: 451px;
  background: url("../img/keybords.jpg") no-repeat;
  background-size: cover;
  h2 {
    @include h2;
    padding-top: 0;
    color: #FFFFFF;
    font-size: $font_size;
    margin-top: 24px;
  }
  .subscribe-row {
    min-height: inherit;
  }
}

.subscribe-send {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 45px;
  input {
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 351px;
    height: 65px;
    font-family: $font_medium;
    font-size: $font_size + 0.5;
    color: #FFFFFF;

  }
  button {
    width: 97px;
    height: 65px;
    font-family: $font_gotham;
    text-transform: uppercase;
    font-size: $font_size;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2.25px;
    margin-left: 4px;
    background-color: #3dc9b3;
    border: 1px solid #3dc9b3;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: lightseagreen;
    }
  }
}

.plane-paper {
  display: flex;
  justify-content: center;
  i {
    color: #FFFFFF;
    font-size: $font_size + 0.8;
  }
  h2 {
    @include h2;
    padding-top: 0;
  }
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $font_gotham;
  color: #FFFFFF;
  font-weight: bold;
  top: -20px;
  text-transform: uppercase;
  font-size: $font_size - 0.3;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #3dc9b3;
  cursor: pointer;
  &:hover {
    background-color: lightseagreen;
    transition: 0.2s;
  }
}