@mixin text_p {
  font: {
    family: GothamRounded, Arial, sans-serif;
    weight: bold;
  }
  color: #8c9398;
}

@mixin text_header {
  font: {
    family: Book, Arial, sans-serif;
    size: 0.75em;
  }
  color: #8c9398;
  text-transform: none;
  letter-spacing: 2.25px;
}

@mixin text_large {
  font: {
    family: Book, Arial, sans-serif;
    size: 1.3em;
  }
  font-weight: normal;
  color: #a1a9b0;
  text-transform: uppercase;
  letter-spacing: 13px;
}

@mixin heading_block {
  font: {
    family: GothamRounded, Arial, sans-serif;
    weight: bold;
  }
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}

@mixin decorate_heading {
  margin: 10px 40px 0;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}

@mixin h2 {
  text-align: center;
  @include heading_block;
  padding-top: 93px;
  max-width: 100%;
}

@mixin icons {
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 151px;
    border-radius: 50%;
    margin: 0 auto;

    i {
      font-size: 3em;
      color: #ffffff;
    }
  }
}

@mixin image-carousel {
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 200px;
    margin: 0 auto;

    i {
      font-size: 3em;
      color: #ffffff;
    }
  }
}